<html>
   <head>      
  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body  ng-controller="forgotPasswordController">
<div class="login">
  <div class="login-header">
    <h1>Forgot Password</h1>
  </div>
  <div class="login-form">
  <h3>Email</h3>
    <input type="text" placeholder="Email" id="email"/>
    <br>
     <input type="button" value="Submit" id="forgotPassword" class="login-button" ng-click="sendMail()">
     <input type="button" value="cancel" id="cancel" class="login-button" ng-click="cancelBtn()">
    <br>
  </div>
</div>
</body>
</html>
