<html>
   <head>      
  <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
        <link rel="stylesheet" href="css/style.css">
    </head>
<body  ng-controller="signupCOntroller">
<div class="login">
  <div class="login-header">
    <h1>Reset Password</h1>
  </div>
  <div class="login-form">
  <h3>New Password</h3>
    <input type="password" placeholder="Password" id="password"/>
    <h3>Confirm Password</h3>
    <input type="password" placeholder="Password" id="password"/>
    <br>
     <input type="button" value="Reset" id="resetPassword" class="login-button" ng-click="reset()">
    <br>
  </div>
</div>
</body>
</html>
